{% set route = app.request.get('_route') %}
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('images/image/comores_drapeau.png') }}" width="52" alt="BatiPro&Co"> Election
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {{ route == 'home' ? 'active' }}">
                    <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {{ route == 'usage' ? 'active' }}">
                    <a class="nav-link" href="{{ path('usage') }}">Déroulement</a>
                </li>
                <li class="nav-item {{ route == 'code' ? 'active' }}">
                    <a class="nav-link" href="{{ path('code') }}">Code électorale</a>
                </li>
                <li class="nav-item {{ route == 'inscription' or route == 'inscription_new' ? 'active' }}">
                    <a class="nav-link" href="{{ path('inscription') }}">Inscription</a>
                </li>
                <li class="nav-item {{ route == 'vote' ? 'active' }}">
                    <a class="nav-link" href="{{ path('vote') }}">Vote</a>
                </li>
            </ul>
            {% if app.user %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="profile">
                            {{ app.user.soname }} <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="profile">
                            <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion <i class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>
